<html>
<title>Index</title>
<body>
    
<h1>List of Total Users</h1>
    
    {{#each docs}}
    
    <li>NAME:{{name}}</li>
    <li>EMAIL:{{email}}</li>
    <li>AGE:{{age}}</li>
    <li>CONATCT:{{contact}}</li>
    <li>PWD:{{password}}</li>
    
    
    
    <br>
    
{{/each}}
</body>
</html>